body {
    margin-top: 50px;
}

p {
    margin-top: 1em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre {
    margin-top: 2em;
    margin-bottom: 2em;
}

textarea {
    width:100%;
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* smart phones */
@media screen and (max-device-width: 480px) {
}
