[% WRAPPER 'include/layout.tt' %]

<h2>[% diary.created_on || created_on %]</h2>

<script>
    $(document).live('pageinit',function(event){
    });
</script>

<form method="POST" action="/diary/edit">
    <input type="hidden" name="created_on" value="">
    <textarea name="body" cols="100%" rows="30"></textarea>
    <div><input type="submit" value="編集"></div>
</form>

[% END %]
